/*for my practice - For every action I have clearly mention why it is done*/
body 
{
  /*this is the background image of the whole page*/
  background-image: url("https://drive.google.com/file/d/1IQthEkjKAB4ts9p9GJItfVF3Lec6fICH/view?usp=sharing");
  /*this is the font of the whole page if there is no font elsewise*/
  font-family: Impact;
  /* this padding is done wrt to the whole body */
  padding: 20px;
}
/* h1 is element (CAMPER CAFE) */
h1 
{
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
h2 
{
  font-size: 30px;
}
.established 
{
  font-style: italic;
}
/* the h1,h2 elements and p is aligned at centre */
h1, h2, p 
{
  text-align: center;
}
.menu 
{
  width: 80%;
  background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
}
img 
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -25px;
}
hr 
{
  height: 2px;
  background-color: brown;
  border-color: brown;
}
.bottom-line 
{
  margin-top: 25px;
}

h1, h2 
{
  font-family: Impact, serif;
}
.item p 
{
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}
/* this is the flavor as well as dessert class and width is 75% of the body and this places at left as text is more. */
.flavor, .dessert 
{
  text-align: left;
  width: 75%;
}
/* this is the price class and width is 25% of the body and this places at right */
.price 
{
  text-align: right;
  width: 25%;
}
/* FOOTER */
/* footer is the element here*/
/* size of the footer text is 14px */
footer 
{
  font-size: 14px;
}
/* this class is for the address which is 123 Free Code Camp drive*/
/* this margin-bottom is distance between the border and the address itself */
.address 
{
  margin-bottom: 5px;
}
/* this feature is with anchor tag*/
/*the default color of the tag is black*/
a 
{
  color: black;
}
/* this feature is with anchor tag*/
/*If we actually visited this site, then after at the first visit, the color of this link is converted to yellow*/
a:visited 
{
  color: yellow;
}
/* this feature is with anchor tag*/
/*If we hover our mouse to this anchor tag, then the color of this tag will convert to brown*/
a:hover 
{
  color: brown;
}
/* this feature is with anchor tag*/
/*if in actual link is clicked then that link color will be changed to blue*/
a:active 
{
  color: blue;
}
